.yunlaiwu {
    margin: 80px auto;
    .yunlaiwu_title {
        margin: 0 auto;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        font-weight: 300;
        color: #4a4a4a;
    }
    .yunlaiwu_intro {
        margin: 15px auto 0;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        font-weight: 300;
        color: #707070;
    }
    .candu_item_box {
        margin: 15px auto 0;
        .candu_item {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            font-weight: 300;
            color: #9b9b9b;
            cursor: pointer;
            transition: all 200ms linear;
            &.selected {
                color: #4a4a4a;
                font-weight: 400;
            }
        }
    }
    .candu_itemmin {
        display: none;
        opacity: 0;
        margin: 50px auto 30px;
        font-size: 14px;
        text-align: center;
        color: #9b9b9b;
        transition: all 200ms linear;
        &.selected {
            display: block;
            opacity: 1;
        }
    }
    .whatimg_box {
        position: relative;
        margin: 0 auto;
        width: 801px;
        height: 480px;
        .whatimg {
            position: absolute;
            top: 0;
            opacity: 0;
            width: 801px;
            height: 480px;
            margin: 20px auto 0;
            transition: all 200ms linear;
            &.selected {
                opacity: 1;
            }
        }
    }
    .canduimg_box {
        position: relative;
        margin: 0 auto;
        width: 700px;
        height: 422px;
        .canduimg {
            position: absolute;
            top: 0;
            opacity: 0;
            width: 700px;
            height: 422px;
            margin: 20px auto 0;
            transition: all 200ms linear;
            &.selected {
                opacity: 1;
            }
        }
    }


}


