.bannerSliderBox {
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    .slick-list {
        height: 480px;
        .slick-slide {
            height: 480px;
            .banner_item {
                a {
                    display: block;
                    margin: 0 auto;
                    position: relative;
                    width: 100%;
                    height: 480px;
                    background-position: center;
                    background-repeat: no-repeat;
                    -webkit-background-size: auto 480px;
                    background-size: auto 480px;
                }
                a.banner_item1 {
                    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/编辑简历.png);
                }
                a.banner_item2 {
                    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/motie-PCbanner-2560_480.png);
                }
                a.banner_item3 {
                    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/newwriter-banner1.jpg);
                }
                a.banner_item4 {
                    background-image: url(http://yunlaiwu0.cn-bj.ufileos.com/shandianzhenggao.jpg);
                }
                a.banner_item5 {
                    background-image: url(http://yunlaiwu0.cn-bj.ufileos.com/pc端banner-版保.jpg);
                }
                a.banner_item6 {
                    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/Banner-AppDownload.png);
                }
            }
        }
    }
    .slick-dots {
        bottom: 0;
    }
}

.bannerArrow {
    position: absolute;
    width: 38px;
    height: 38px;
    z-index: 2;
    background-size: contain;
    transition: all 0.3s linear;
    opacity: 0;
    &:before {
        content: '';
    }
    &:after {
        content: '';
    }
}
.bannerArrow_left {
    left: 50px;
    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/home_banner_leftnew.png);
    &:hover {
        background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/home_banner_leftnew.png);
        background-size: contain;
    }
}
.bannerArrow_right {
    right: 50px;
    background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/home_banner_rightnew.png);
    &:hover {
        background-image: url(https://yunlaiwu0.cn-bj.ufileos.com/home_banner_rightnew.png);
        background-size: contain;
    }
}
.bannerArrow.bannerArrow_show {
    opacity: 1;
}